.categories-index-container {
  background: whitesmoke;
  width: 100%; 

  .categories-slider {
    display: flex;
    overflow-x: auto; 
    flex-wrap: nowrap;

    .category-column {
      margin-bottom: -10px;

      .category-box {
        display: flex;
        align-items: center;
        flex-direction: column;

        .img-box {
          min-width: 100px;
          min-height: 111px;
          border-radius: 50%; 
          background-size: cover; 
          background-position: center;
        }
      }
    }
  }
}

.hot-and-trending {
  background: whitesmoke;
  padding: 10px;
  width: 100%;
  
  .items-row {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    display: grid;
  
    .item-box {
      display: flex;
      padding: 10px;
      align-items: center;
      flex-direction: column;

      .item-img {
        width: 100%;
        min-width: 120px;
        min-height: 150px;
        background-size: cover; 
        background-position: center;
      }

      .name-price {
        display: flex;
        justify-content: space-between;
        row-gap: 2px;
      }
    }
  }
}
