.auth-container {
  display: flex;
  margin: 50px auto;
  justify-content: space-around;

  .auth-sign-in-form {
    width: 35%;  
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    justify-content: flex-start;
  }

  .auth-sign-up-form { 
    width: 35%;  
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    justify-content: flex-end;  
  }
}

.centered {
  align-self: center;

  .title { 
    display: flex;
    color: #101010;
    justify-content: center;
  }

  .no-color {
    color: #1a1a1a;
  }
}