.brands-page-container {
  padding: 10px;;
}

.seller-brand-section {
  width: 100%;
  background-color: rgb(104, 168, 104);;

  .seller-card {
    p { color: white; }

    width: 100%;
    margin: auto;
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
  }

  .products-container {
    width: 100%;

    .seller-category {
      .cat-title {
        background-color: beige;
        margin: 10px auto 10px auto;
        text-align: center;
        max-width: 360px;
        padding: 10px;
      }
    }
  }
}

.products-container {
  width: 100%;
  padding: 10px 15px 10px 15px;
}

.brands-page-container {
  padding: 10px;;
}

.seller-brand-section {
  width: 100%;
  background-color: rgb(104, 168, 104);;

  .seller-card {
    padding-top: 5px;

    p { color: white; }
  }

  .products-container {
    width: 100%;

    .seller-category {
      .cat-title {
        background-color: beige;
        margin: 10px auto 10px auto;
        text-align: center;
        max-width: 360px;
        padding: 10px;
      }
    }
  }
}

.products-container {
  width: 100%;
  padding: 10px 15px 10px 15px;
}

@media (max-width: 768px) {
  .seller-brand-section {
    .pro-card {
      width: 100%;
      min-width: 360px;
    }
  }
}

@media (min-width: 768px) {
  .products-container {
    width: 100%;

    .seller-category {
      .seller-products {
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .seller-product {
        display: grid;
      }
    }
  } 
};
