.product-card-container {
  width: 100%;
  display: flex;
  padding-top: 10px;
  position: relative;
  align-items: center;
  flex-direction: column;

  .image-container {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }

    .chevron-left,
    .chevron-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 24px;
      color: white;
    }

    .chevron-left {
      left: 10px;
    }

    .chevron-right {
      right: 10px;
    }
  }

  button {
    width: 75%;
    opacity: 0.7;
    position: absolute;
    top: 234px;
    display: none;
  }

  .info-button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #505050;
    margin-right: 10px;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    padding: 10px;
    font-size: 18px;
    align-items: center;
    border: 1px solid #909090;
    justify-content: space-between;

    .info-container {
      display: flex;
      align-items: center;
    }

    .info-button:hover + .info-content {
      display: flex;
    }

    .product-name {
      color: #505050;
      font-weight: 360;
    }

    .product-price {
      font-weight: 650;
    }
  }

  .info-content {
    padding-left: 10px;
    margin-top: 10px;
    display: block;
    width: 100%;

    span {
      font-weight: bold;
    }
    .product-info {
      font-size: medium;
    }
      
    .product-brand {
      font-size: medium;
    }
  }
}
