.categories-index-container {
  border-bottom: 1px solid lightgrey;
  background: whitesmoke;
  padding-bottom: 1%;
  width: 100%; 

  .categories-slider {
    display: flex;
    overflow-x: auto; 
    flex-wrap: nowrap;

    .category-column {
      .category-box {
        display: flex;
        align-items: center;
        flex-direction: column;

        .img-box {
          min-width: 100px;
          min-height: 100px;
          border-radius: 50%; 
          background-size: cover; 
          background-position: center;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .categories-index-container {
    .title {
      font-size: large;
      margin: 10px;
    }

    .categories-slider {
      .category-column {
        .category-box {
          .img-box {
            min-width: 150px;
            min-height: 150px;
          }
        }
      }
    }
  }

  .featured-container {
    padding: 1%;
    display: flex;
    margin-bottom: 1%;
    background: whitesmoke;

    .hot-and-trending {
      .items-row {
        .item-box {
          .item-img {
            min-width: 100%;
            min-height: 400px;
          }

          .name-price {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

    .new-and-latest {    
      .items-row {
        .item-box {
          .item-img {
            min-width: 100%;
            min-height: 400px;
          }
        }
      }
    }
  }
}


.featured-container {
  width: 100%;

  .hot-and-trending {
    background: whitesmoke;
    padding: 10px;
    width: 100%;
  
    .items-row {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      display: grid;
  
      .item-box {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;

        .item-img {
          width: 100%;
          min-width: 120px;
          min-height: 150px;
          background-size: cover; 
          background-position: center;
        }
      }
    }
  }

  .new-and-latest {
    background: whitesmoke;
    padding: 10px;
    width: 100%;
  
    .items-row {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      display: grid;
  
      .item-box {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;

        .item-img {
          width: 100%;
          min-width: 120px;
          min-height: 150px;
          background-size: cover; 
          background-position: center;
        }
      }
    }
  }

  .name-price {
    width: 100%;
    display: flex;
    row-gap: 10px;
    justify-content: space-between;

    .name {
      width: 80%;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .price {
      letter-spacing: 0.333px;
      font-weight: 420;
    }
  }

  .lead-title {
    display: flex;
    margin-top: 8px;
    font-weight: 720;
    font-size: smaller;
    letter-spacing: 5px;
    justify-content: center;
  }

  .lead-caption {
    display: flex;
    font-size: x-small;
    align-items: center;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .icon-img {
    margin: 10px;
    max-width: 45px;
    max-height: 45px;
  }
}