.subscription {
  width: 100%;
  height: max-content;
}

.-a {
  font-size: 11px;
  color: #505050;
}

.perks {
  width: 36%;
}

.r2p {
  // raise to power
  font-size: 12px;
  font-weight: 400;
  color: orange;
  margin-left: 2px;
  position: absolute;
  text-decoration: solid;
}

.dropdown {
  padding: 5%;
  background: whitesmoke;

  .sub-checkout {
    display: flex;
    justify-content: space-between;

    .btn {
      text-decoration: underline;
      color: forestgreen;
      width: 50%;
    }
  }
}

@media (min-width: 768px){
  .subscription {
    margin-bottom: 100px;
      
    .sub {
      display: flex;
      justify-content: space-between;
    }
  }
}