.bottom {
  width: 100%;
  display: flex;
  max-height: 88px;
  justify-content: space-between;
}

.force-af-center {
  width: 12%;
}

.nav-brand {
  margin-top: 10px;
  font-style: italic;
  font-weight: bolder;
  font-family: Cambria;

  .green {
    color: green;
  }

  .link-icon:hover::before {
    content: attr(title);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: large;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
}

.nav-menu {
  font-family: Arial, Helvetica, sans-serif; 
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;  
  opacity: 0.85;
  line-height: 25px;
  color: black;

  .menu-list {
    display: block;
      width: 100%;

    .ml-icon {
      color: lightgreen;
    }
    .ml-title {
      color: white;
      margin-left: 20px;
      font-size: smaller;
      letter-spacing: 0.5px;
    }
  }
}

.navigation {
  height: 70px;
  display: flex;
  margin-bottom: 10px;

  .logo {
    padding-left: 50px;
  }

  .nav-link {
    padding: 20px;
    font-size: large;
    font-weight: lighter;      
    border: 0 solid transparent;
  }

  .nav-title {
    color: white;
  }
     
  .nav-cart {
    color: #e3f2fd;
  }
}

.nav-burger {
  justify-content: space-between;
  margin: 20px auto 20px auto;
  display: flex;

  .open-close-nav {
    margin-top: 15px;
  }

  .burger-end {
    display: inline-flex;
    justify-content: flex-end;

    .auth-icon {
      margin-top: 6px;
      font-size: large;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.side-nav {
  display: flex;
  cursor: pointer;
  position: relative;
  justify-content: flex-end;
  
  .drop {
    top: 12%;
    width: 100px;
    padding: 10px;
    display: flex;
    position: fixed;
    text-align: center;
    background: ghostwhite;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

  .-lg {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: ghostwhite;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

.bottom-nav {
  right: 0; 
  bottom: 99%;
  display: flex;
  cursor: pointer;
  position: absolute;
  justify-content: flex-end;
}

.burger-menu {
  justify-content: center;
  position: absolute;
  border-radius: 5%;
  min-width: 180px;
  display: flex;
  padding: 5%;
  left: 1%;
  top: 11%;

  .nav-link { 
    margin: 10px;
    color: #fff;
    font-size: 15px;
  }

  .nav-link:hover {
    color: limegreen;
    font-size: 17px;
  }
}

.shake {
  animation-name: shake-animation; 
  animation-duration: 2s;       
  animation-iteration-count: 3;  
  transform-origin: 10% 20%; 
  display: inline-block;
}

@keyframes shake-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

/* Icon 1 */
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: #707070;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}