.checkout-table {
  width: 100%;
  display: table;
}

.t-header {  
  margin: 0 10px 0 10px;
  text-align: center;  
}

tr.align-middle > td {  
  border: 0;
}

.w-25 {
  text-align: center;
  width: 25%;

  .checkout-img {
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: cover;
    margin: 0 auto;
  }
}

.checkout-qty {
  margin: 0 auto;

  .increment,
  .decrement {
    cursor: pointer;
    width: max-content;
    padding: 0 5%;
  }
}

tr.total {
  width: 100%;
  position: absolute;
  background: lightgray;
}

.total {
  width: 100%;
  padding: 5px 0;
  display: grid;
  justify-content: flex-end;
  background: lightgray;


  .sub-total {
    margin: 0;
    display: flex;
    letter-spacing: 0.1rem;
    background: lightgray;
    padding: 10px 10px 5px 10px;
  }
}

.pay-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .w-25 { 
    max-width: 100%; 
  }
}

@media (min-width: 768px) {
  .total {
    padding: 0.1% 5.5%;

    .sub-total {
      margin: 0 20px 0 0;
    }
  }
}

.pay-gap { height: 100px }

.checkout-items-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  padding: 20px 10px;
  width: 100%;

  .items-container {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .item-row {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
    }
  }
}

.pay-card-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  
  .close-btn {
    top: 2%;
    right: 1%;
    padding: 2px;
    font-size: smaller;
    position: absolute;
  }

  .pay-card-col {
    width: auto;
    display: inline-flex;

    .fullWidth { width: 100% }

    .i-2 {
      width: 100%;
      text-wrap: nowrap;
      margin: 0 10px 0 10px;
      padding: 0 20px 0 20px;
    }
  }

  .pay-services-icon {
    width: 100%;
    height: 75px;
  }

  .pay-service-logo {
    width: 100%;
    height: 100px;
    min-width: 100px;
    align-self: center;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .i-1, .i-2 {
      width: min-content;
    }

    width: 100%;
    flex: 1;
    flex-wrap: nowrap;
    display: inline-flex;
  }

  @media (max-width: 768px) {
    .i-1 {
      display: none;
    } 

    .i-2 {
      width: 100%;
    }

    .pay-services-icon {
      width: 75%;
      height: auto;
      margin-top: 10px;
    }
  
    .flutter,
    .paystack,
    .v-center {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}
