.v-ident {
  margin-bottom: 25px;
}

.navigation {
  height: 70px;
  display: flex;
  margin-bottom: 10px;

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 25px;
      font-size: large;
      font-weight: lighter;
      border: 0 solid transparent;
    }
  }
}