.checkout-table {
  width: 100%;
  display: table;
}

.checkout-items-img {
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 100%;
    max-width: 150px;
    padding-top: 2%; 
    padding-bottom: 2%; 
  }
}

.checkout-name {
  font-size: 1rem;
}

.checkout-items-row {
  .increment,
  .decrement {
    cursor: pointer;
    padding: 10px;
  }

}

.theader {  
  margin: 2%;
  text-align: center;
  
  .price {
    padding-right: 8%;
  }
}

.checkout-price {
  text-align: center;
}

.checkout-total {
  text-align: end;
}

.payButton {
  background-color: darkolivegreen;
  position: absolute;
  margin-top: 5px;
  right: 1%;
}
