@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}

a,
a:hover{
  text-decoration: none;
}

.card-title {
  display: flex;
  justify-content: space-between;

  .-welcome {
    padding-left: 5%;
    font-size: large;
    font-weight: 500;
  }

  .-date {
    color: #202020;
    font-size: small;
    padding-right: 2%;
  }
}

.profile-card {
  height: 250px;
  width: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}

.centered-dropdown {
  margin: auto;
  display: flex;
  text-align: center;
}

.category-card {
  border: 1px solid #707070;
  margin-bottom: 10px;
  border-radius: 2%;
  margin-top: 5px;

  .product-bar {
    justify-content: space-between;
    display: flex;
    margin: 10px;

    .product-name {
      align-self: center;
    }
  }
}