.product-card-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  padding-top: 10px;
  align-items: center;
  flex-direction: column;

  .image-container {
    width: 100%;
    height: auto;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

    .chevron-left,
    .chevron-right {
      position: absolute;
      top: 50%;
      cursor: pointer;
      font-size: 24px;
      color: white;
      transform: translateY(-50%);
    }

    .chevron-left {
      left: 10px;
    }
    .chevron-right {
      right: 10px;
    }
  }

  button {
    width: 75%;
    opacity: 0.7;
    position: absolute;
    top: 44%;
    left: 12.5%;
    display: none;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

  .card-body {
    width: 100%;
    padding: 2%;
    max-width: 355px;
    min-width: 355px;

    .name-price {
      width: 100%;
      display: flex;
      margin-top: 10px;
      align-items: center;
      border: 1px solid transparent;
      justify-content: space-between;

      .product-name {
        font-weight: 420;
        color: forestgreen;
      }

      .product-price {
        padding-left: 5px;
        color: black;
      }
    }
    
    .info-content {
      font-size: 12.5px;
      padding-top: 10px;

      .description { 
        height: auto;
        min-height: 75px;
        max-height: 100px;
        margin-bottom: 10px;
      }

      .stock {
        font-size: 13px;
        color: #505050;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    }

    .info-button:hover + .info-content {
      display: flex;
    }
  }

  @media (min-width: 992px) and (max-width: 1440px){
    .card-main {
      .footer-actions {
        font-size: 22px;
        size: 25;
      }
    }
  }
}