.products-container {
  display: grid;
  row-gap: 15px;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;

  .header {
    margin: 10px;
    font-weight: 700;
    font-size: xx-large;
  }
}