.user-products {
  .saved-items {
    width: 100%;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    
    .index {
      width: 10%;
      font-size: smaller;
    }

    .name {
      width: 80%;
      color: gray;
      font-size: small;
    }
    
    .price {
      font-size: smaller;
      color: black;
    }
  }
  
  hr {
    margin-top: -1px;
    margin-bottom: -1px;
  }
}