@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

.index-container {
// holds the dashboard first or index backgound
  background-color: beige;
  padding: auto;
}

.opening-text {
  padding: 20px 40px 20px 40px;
}

.body-container {
  height: 100vh;
  padding: 4% 8% 4% 8%;
  background-color: whitesmoke;

  p {
    color: azure;
    font-size: small;
  }
}

.per-card {
  background-color: rgb(72, 37, 105);
  margin: auto;

  .per-card-body {
    width: 100%;
    padding: 10px;
    color: #fff;
    border-bottom-left-radius: 5% ;
    border-bottom-right-radius: 5%;
    background-color: rgb(104, 70, 136);

    .stat-set {
      width: 100%;
      display: flex;
      padding: 10px;
      font-family: Arial, Helvetica, sans-serif;
      justify-content: space-between;

      h5 {
        color: lightgreen;
      }
      span {
        color: bisque;
      }
    
      .m-width {
        width: 15%;
        font-weight:bolder;
        line-height: 2px;
        text-align: center;
      }
    }
  }
}

.p-card-header {
  color: #909090;
  padding: 20px 20px 0 20px;
}

.pro-card {
  background-color: rgb(67, 157, 67);
  margin: auto;

  .img-av {
    position: relative;
    bottom: 10%;
  }

  img {
    border: 1px solid khaki;
    height: 69px;
    width: 69px;
  }
      
  .pro-card-body {
    padding: 5%;
    background: forestgreen;

    .info-set {
      font-family: Helvetica, sans-serif;
      font-size: smaller;
      margin: 0 0 0 20px;
      color: white;
      width: 100%;
    }
  }
}

button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}

a,
a:hover{
  text-decoration: none;
}

.-pc {
  height: max-content;
  background: whitesmoke;
}
  
@media (min-width: 992px){
  .-pc {
    width: 50%;
    margin: 0 auto;
    
    .profile-comp {
      max-width: 696px;
      width: 100%;
      height: auto;
    }
  }
}

.card-title {
  padding: 5px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;

  .-welcome {
    font-size: large;
    padding-left: 1%;
    color: green;
  }

  .-date {
    color: #202020;
    font-size: small;
    padding-right: 2%;
  }
}

.profile-card {
  height: 250px;
  width: 100%;
}

.profile-info {
  text-align: center;
  font-weight: 345;
}

.avatar {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 250px;
  width: 100%;
    
  .profile-image {
    min-width: 250px;
    margin: 0 auto;
    height: auto;
  }
}

.verified {
  position: absolute;
  right: 5%;
  top: 1%;
}

.image-upload {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .choose-file {
    width: 75%;
    margin-bottom: 10px;
  }
}

body { font-family: 'Roboto', sans-serif }

.centered-dropdown {
  margin: auto;
  display: flex;
  text-align: center;
}

.category-card {
  border: 1px solid #707070;
  margin-bottom: 10px;
  border-radius: 2%;
  margin-top: 5px;

  .product-bar {
    justify-content: space-between;
    display: flex;
    margin: 10px;

    .product-name {
      align-self: center;
    }
  }
}