@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

.index-container {
// holds the dashboard first or index backgound
  background-color: beige;
  padding: auto;
  height: 100vh;
}

.opening-text {
  padding: 20px;
  text-align: center;
}

.close-button {
  justify-content: flex-end;
  font-size: smaller;
  margin-top: -5%;
  display: flex;

  .rounded-circle {
    border: 0.5px solid gray;
    border-radius: 50%;
    padding: 10px;
  }
}

.body-container {
  height: 100vh;
  padding: 2% 4% 2% 4%;
  background-color: whitesmoke;

  p {
    color: azure;
    font-size: small;
  }
}

.per-card {
  width: 100%;
  min-width: 360px;
  background-color: rgb(72, 37, 105);

  .per-card-body {
    width: 100%;
    height: 75%;
    align-content: center;
    padding: 10px;
    color: #fff;
    border-top: 0.1px solid #909090 ;

    .stat-set {
      width: 100%;
      display: flex;
      padding: 10px 10px 8px 10px;
      font-family: Arial, Helvetica, sans-serif;
      justify-content: space-between;

      h5 {
        color: lightgreen;
      }
      span {
        color: bisque;
        font-size: 9px;
      }
    
      .per-stats {
        width: 15%;
        margin-top: 5px;
        line-height: 2px;
        text-align: center;
      }
    }
  }
}

.p-card-header {
  color: #909090;
  padding: 20px 20px 0 20px;
}

.pro-card {
  background-color: forestgreen;
  min-width: 360px;
  width: 100%;

  img {
    border: 1px solid khaki;
    height: 69px;
    width: 69px;
  }
      
  .pro-card-body {
    padding: 10% 5% 5% 5%;
    background: rgb(67, 157, 67);
    border-top: 0.1px solid #909090 ;

    .info-set {
      font-family: Helvetica, sans-serif;
      font-size: smaller;
      margin: 0 0 0 20px;
      color: hsl(35, 77%, 75%);
      width: 100%;

      .fill-success {
        color: rgb(237, 233, 201);
        fill: white;
      }

      span {
        color: beige;
      }

      .add-bank {
        width: 100%;
        display: block;
        margin-top: 5px;
        text-align: end;
        font-size: x-small;
      }
    }
  }
}

.per-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  border: 0.1px solid burlywood;
}

.p-action { 
  margin: 2px 0 2px 0;
  width: 100%;
}

.sales-card {
  background-color: antiquewhite;
  min-width: 360px;
  color: black;

  p { color: black;}

  .sales-card-body {
    border-top: 0.1px solid #505050;
    padding: 12px 0 12px 0;
    display: grid;

    // .MuiChartsLegend-series, PieChart.series.data.label {
    //   font-size: smaller;
    // } // not working
  }
}

@media (min-width: 992px) {
  .paper-container { 
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .pro-card, .per-card, .sales-card {
    max-width: 500px;
    min-width: 420px;
    height: 100%;
    width: 100%;
  }

  .action-container {
    display: flex;
    justify-content: space-around;

    .action-btn-group {
      max-width: 420px;
      width: 100%;
    }
  }
}

button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}

a,
a:hover{
  text-decoration: none;
}

.-pc {
  height: max-content;
  background: whitesmoke;
}
  
@media (min-width: 992px){
  .-pc {
    width: 50%;
    margin: 0 auto;
    
    .profile-comp {
      max-width: 696px;
      width: 100%;
      height: auto;
    }
  }
}

.card-title {
  padding: 5px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;

  .-welcome {
    font-size: large;
    padding-left: 1%;
    color: green;
  }

  .-date {
    color: #202020;
    font-size: small;
    padding-right: 2%;
  }
}

.profile-card {
  height: 250px;
  width: 100%;
}

.profile-info {
  text-align: center;
  font-weight: 345;
}

.avatar {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 250px;
  width: 100%;
    
  .profile-image {
    min-width: 250px;
    margin: 0 auto;
    height: auto;
  }
}

.verified {
  position: absolute;
  right: 5%;
  top: 1%;
}

.image-upload {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .choose-file {
    width: 75%;
    margin-bottom: 10px;
  }
}

body { font-family: 'Roboto', sans-serif }

.centered-dropdown {
  margin: auto;
  display: flex;
  text-align: center;
}

.category-card {
  border: 1px solid #707070;
  margin-bottom: 10px;
  border-radius: 2%;
  margin-top: 5px;

  .product-bar {
    justify-content: space-between;
    display: flex;
    margin: 10px;

    .product-name {
      align-self: center;
    }
  }
}