.category-route {
  gap: 20px;
  background: url("https://images.unsplash.com/photo-1524602997322-c1900e093d3d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGRhcmslMjB0aGVtZXxlbnwwfHwwfHx8MA%3D%3D");

  .category-title {
    color: gray;
    cursor: pointer;
    font-size: 28px;
    padding-top: 28px;
    text-align: center;
  }

  .category-route-container-dg {
    display: grid;
    row-gap: 40px;
    padding: 30px;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);   
      
    .-lg {
      margin-bottom: 50px;
    }
  }

  .category-route-container-df {
    display: flex;
    row-gap: 40px;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-around;

    & > * {
      flex: 0 0 calc(33% - 20px);    
    }
  }
}