.cart-dropdown {
  position: absolute;
  width: 230px;
  height: 320px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 12px;
  z-index: 5;

  .toggle-message {
    font-size: 15px;
    justify-content: right;
  }

  .empty-message {
    font-size: 18px;
    margin: 99.99px auto;
    align-items: center;
  }

  .cart-items {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .cart-link {
    position: relative;

    button {
      margin-top: auto;
      bottom: -100px;
      font-size: medium;
    }
  }
}