@import 'bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/bootstrap/scss/mixins";

// custom body styles used throughout
// 4 - 26
body {
  background: #1a1a1a url("https://images.unsplash.com/photo-1524602997322-c1900e093d3d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGRhcmslMjB0aGVtZXxlbnwwfHwwfHx8MA%3D%3D");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

// custom background colors used throughout
// 28 - 52
.bg-dark {
  background: #1a1a1a;
}

.bg-gray {
  background: grey;
}

.bg-gw {
  background: ghostwhite;
}

.bg-trans {
  background: transparent;
}

.bg-ws {
  background: whitesmoke;
}

.bg-white {
  background: white;
}

// existing container styles
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

// custom class to override .container padding
.no-padding-container {
  padding-right: 0;
  padding-left: 0;
}

.lr-padding {
  padding-right: 5px;
  padding-left: 5px;
}

.y-p {
  padding-top: 25px;
}

.y-m {
  padding-top: 25px;
}

.lr-margin {
  margin-right: 5px;
  margin-left: 5px;
}