.categories-index-container {
  border-bottom: 0.1px solid #909090;
  border-top: 0.1px solid gray;
  background: whitesmoke;
  padding-bottom: 1%;
  width: 100%; 

  .categories-slider {
    padding: 0 8px 4px 8px;
    display: flex;
    overflow-x: auto; 
    flex-wrap: nowrap;

    .category-column {
      .category-box {
        display: flex;
        align-items: center;
        flex-direction: column;

        .img-res {
          width: 100%;
          height: 100px;
          min-width: 100px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}


.featured-container {
  width: 100%;
  position: relative;
  
  .fc-title {
    top: 50%;
    left: 50%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);

    .bg {
      padding: 5px;
      margin: auto;
      color: white;
      min-width: 100px;
      min-height: 100px;
      border-radius: 50%;
      text-align: center;
      text-align: center;
      align-content: center;
      border: 0.1px solid gray;
      background: rgba(0, 0, 0, 0.7 );
    }
  }
  
  .hot-and-trending {
    background: whitesmoke;
    padding: 10px;
    width: 100%;
  
    .items-row {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      display: grid;
  
      .item-box {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;

        .item-img {
          width: 100%;
          min-width: 120px;
          height: 200px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .new-and-latest {
    background: whitesmoke;
    padding: 10px;
    width: 100%;
  
    .items-row {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      display: grid;
  
      .item-box {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;

        .item-img {
          width: 100%;
          min-width: 120px;
          height: 200px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .name-price {
    width: 100%;
    display: flex;
    row-gap: 10px;
    justify-content: space-between;

    .name {
      width: 80%;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .price {
      letter-spacing: 0.333px;
      font-weight: 420;
    }
  }

  .icon-img {
    max-width: 45px;
    max-height: 45px;
  }
}

@media (min-width: 992px) {
  .featured-container {
    display: flex;
      .hot-and-trending {
          .items-row {
          grid-template-columns: repeat(3, 1fr);
        } 
      }
      .new-and-latest {
        .items-row {
          grid-template-columns: repeat(3, 1fr);
        }
      } 
    }
}

@media (min-width: 768px) {
  .categories-index-container {
    .title {
      font-size: large;
      margin: 10px;
    }

    .categories-slider {
      .category-column {
        .category-box {
          .img-res {
            min-width: 150px;
            min-height: 150px;
          }
        }
      }
    }
  }

  .featured-container {
    padding: 1%;
    display: flex;

    .hot-and-trending {
      .items-row {
        .item-box {          
          .item-img {
            min-width: 100%;
            min-height: 280px;
          }

          .name-price {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

    .new-and-latest {    
      .items-row {
        .item-box {
          .item-img {
            min-width: 100%;
            min-height: 280px;
          }
        }
      }
    }
  }
}

// custom styles for lg.home.component
.category-container {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition:
        transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .category-body-container {
      opacity: 0.9;
    }
  }

  &:large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .category-body-container {
    background-color: transparent;
    border: 1px solid lightgrey;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0.25px;
    display: flex;

    .title-container {
      background-color:
        transparentize($color: #f5f5f5, $amount: 0.33);
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        color: #404040;
      }
    }
  }
}
@media (max-width: 600px) {
  .fc-title {

    img.icon-img {
      width: 36px; 
    }

    p { font-size: 0.8rem; }
  }
}

