.category-preview {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 28px;
    margin: 20px 0 10px 0;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

    .lg-mb {
      margin-bottom: 10px;
    }
  }
  